.good{
    width: 1090px;
    height: 680px;
    margin: 0 auto;
    img{
        width: 1090px;
        height: 280px;
        margin-top: 10px;
    }
    .gd_low{
        width: 100%;
        height: 400px;
        .gd_shangpin{
            width: 262px;
            height: 380px;
            float: left;
            margin-right: 10px;
            margin-bottom: 15px;
            background-color: white;
          
            img{
                width: 262px;
                height: 262px;
            }
            a{
                font-size: 16px;
                margin-top: 10px;
            }
            h3{
                font-size: 29px;
                color: red;
                margin-top: 10px;
            }
        }
    }
}