.nav{
    width: 100%;
    height: 40px;
    background: white;
}
.na_main{
    width: 1090px;
    height: 40px;
    margin: 0 auto;
    .na_li .na_fenlei{
        width: 170px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        float: left;
        background-color:red ;
        p {
            color:white
        }
        .na_yiji{
            width: 170px;
            height: 40px;
            background-color: red;
            
            position: absolute;
            display: none;
            li{
                width: 170px;
                color: white;
                border-bottom: 1px solid white;
                background-color: red;
            }
        }
    }
    .na_fenlei:hover .na_yiji{
        display: block;
    }


    //主菜单
    .na_li li{
        width: 124px;
        height: 40px;
        font-size: 18px;
        
        text-align: center;
        line-height: 40px;
        float: left;
    }
}


