.online{
    width:2000px;
    height:400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .on_pic{
        width: 100%;
        height: 400px;
        img{
            width: 100%;
            height: 400px;
            display: block;
        }
    }
    .on_an{
        position: absolute;
        right: 1320px;
        bottom: 18px;
        li{
            float: left;
            width: 20px;
            height: 6px;
            text-indent: -9999px;
            margin-right: 10px;
            cursor: pointer;
            background-color: #000000;
        }
    }

}